.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $lavender200;

  & div {
    color: $black52;
    height: 30px;
    line-height: 30px;
    text-align: left;
    font-size: 12px;
  }
}
