.sideMenu {
  & nav > ul {
    padding-left: 0;
  }
  & ul {
    list-style-type: none;
  }
  & .subList {
    margin-top: 20px;
    & div {
      & i {
        font-size: 20px;
      }
      & span {
        padding-left: 10px;
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
      }
    }

    & li {
      border-radius: 6px;
      padding-left: 10px;
      font-size: 18px;
      line-height: 2.3em;
      color: $gray700;
      font-weight: 400;
      transition: all 0.3s ease-in;
      & sup {
        font-size: 14px;
        color: $gray500;
        line-height: 20px;
      }
    }
    & li:hover {
      color: $lavender700;
      background-color: $lavender300;
      transition: all 0.3s ease-in;
    }

    & li.active {
      background-color: $lavender600;
      color: $white100;
      & sup {
        color: $lavender400;
      }
    }
  }
}
