.companyBlock {
  background-color: $lavender300;
  width: 100%;
  border-radius: 10px;
  padding: 20px 16px;
}
.companyInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  & .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & > :first-child {
      font-size: 16px;
      color: $black76;
      font-weight: 700;
    }
    & > :last-child {
      font-size: 14px;
      color: $black64;
    }
  }
  & .companyImg {
    & div {
      border-radius: 30px;
      width: 40px;
      height: 40px;
      background: $white100;
      display: flex;
      justify-content: center;
      align-items: center;
      & i {
        font-size: 20px;
        color: $lavender500;
      }
    }
  }
}
.companySetUp {
  margin-top: 10px;
  & a {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: $lavender700;
  }
}
