$lavender200: #fbfbff;
$lavender300: #edeeff;
$lavender400: #dee0ff;
$lavender500: #f3f4ff;
$lavender700: #543ea3; //primary
$lavender600: #8b77ef;
//
$white100: #fff;
//
$gray200: #e9ecef;
$gray300: #d5dee5;
$gray400: #ced4da;
$gray500: #8d98a1;
$gray700: #495057;
$gray800: #212529;

$black16: rgba(#000, 0.16);
$black40: rgba(#000, 0.4);
$black52: rgba(#000, 0.52);
$black64: rgba(#000, 0.64);
$black76: rgba(#000, 0.76);
$black86: rgba(#000, 0.86);
$black100: #000;
$black: #212529;
//
$green100: #d2f4de;
$green200: #a1e4b8;
$green500: #006742;
//
$red40: #dc3545;
